<body>
<% @memos.each do |row|%>
	<ul>
		<li id="memo-title">
		<a href = "memos/<%="#{row['id']}"%>"><%="#{row['title']}"%></a>
		</li>
	</ul>
<% end %>

<div class="button-01">
	<a href="/memos/new">追加</a>
</div>
</body>
