<html>
	<head>
	<link rel="stylesheet" href="/app.css">
	<meta charset="UTF-8">
	<title>メモアプリ</title>
	<body>
		<h1 id="title"><a href="/memos">メモアプリ</a></h1>
		<%= yield %>
	</body>
	</head>
</html>
