<body>
  <form action="/memos" method="POST">
    <p>タイトル</p>
    <div>
      <input type="text" id="title" name="title">
    </div>
    <p>内容</p>
    <div>
      <textarea id="content" name="content" row="5"></textarea>
    </div>
    <div id="save-btn">
      <input type="submit" value="保存" id="btn02">
    </div>
  </form>
</body>
